<div class="row">
	<div class="large-12 large-centered columns"> 
		<table class="custom">
			<thead>
				<tr>
					<th>Projeto</th>
					<th>Centro de Custo</th>
					<th>Horas</th>
					<th>Percentual</th>
				</tr>
			</thead>
			<tbody>
				<% @project_time_entries.each do |project_entry| %>
					<tr>
						<td><%= project_entry[:project_name] %></td>
						<td><%= project_entry[:centro_de_custo] %></td>
						<td><%= project_entry[:project_total_hours] %></td>
						<td><%= project_entry[:percentage].round(2) %>&nbsp;%</td>
					</tr>
				<% end %>	
				<tr>
					<td></td>
					<td>TOTAL:</td>
					<td><%= @total_workload %></td>
					<td></td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>